body {
  font-family: "Indie Flower", cursive;
  color: #f9f7fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  margin: 0;
  background-color: #f9f7fe;
  overflow-x: hidden;
}

h1 {
  font-size: 32px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}

#selected-city {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: rgba(50, 50, 80, 0.8);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
}

#selected-city .city-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selected-city .time-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}

#selected-city h2,
.city h2 {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

#selected-city .time,
.city .time {
  font-size: 24px;
  font-weight: bold;
}

.city-info small,
.date,
.time small {
  font-size: 14px;
  opacity: 0.7;
}

.icon {
  width: 25px;
  height: auto;
}

.cities {
  margin-top: 15px;
  background-color: rgba(20, 24, 44, 0.8);
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
}

.city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}

.city:last-child {
  border: none;
}

.date {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 5px;
}

select#city {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 15px 0;
  border-radius: 4px;
  border: none;
  background-color: rgba(50, 50, 80, 0.8);
  color: #f9f7fe;
  font-family: "Indie Flower", cursive;
}

.container {
  max-width: 100%;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/150/189/original/Blue_Illustration_Night_Phone_Wallpaper.png?1731462211");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  box-sizing: border-box;
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: grey;
  text-align: center;
  margin-top: 10px;
}

a {
  color: grey;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  .container {
    padding: 15px;
  }

  .city-name,
  .time {
    font-size: 16px;
  }

  select#city {
    font-size: 14px;
    padding: 6px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 22px;
  }

  .city-name {
    font-size: 14px;
  }

  .time {
    font-size: 16px;
  }

  .container {
    padding: 10px;
  }

  select#city {
    font-size: 14px;
    padding: 6px;
  }
}
